extends email-layout

block body
  p
    strong Welcome #{entrant.first}, 
    p #[a(href="#{baseUrl}/confirm?token=#{entrant.emailToken}") Click here to confirm your email], or paste this link into your browser
    p #{baseUrl}/confirm?token=#{entrant.emailToken}
    